.App {
  font-family: Inter, sans-serif;
  color: #e4e5ea;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 61px;
  overflow: hidden;
}
@media screen and (max-width: 940px) {
  .App {
    margin: 53px 0 0 0;
    padding: 0;
  }
}

.header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 73px;
  margin-bottom: 94px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
}
@media screen and (max-width: 940px) {
  .header {
    z-index: 99;
    background: #0e1014;
    justify-content: center;
    position: fixed;
    top: 0;
    height: auto;
    margin-bottom: auto;
    padding: 20px;
  }
}

.header-left {
  display: flex;
  flex-direction: row;
  gap: 53px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
@media screen and (max-width: 940px) {
  .logo {
    display: none;
  }
}

.logo-text {
  font-size: 10px;
  font-family: Montserrat, sans-serif;
  align-self: start;
  position: static;
}

.important {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
  max-width: 503px;
}
@media screen and (max-width: 940px) {
  .important {
    font-size: 12px;
    justify-content: center;
    gap: 16px;
    text-transform: uppercase;
  }
  .important :last-child {
    display: none;
  }
}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 48.67px;
  align-items: flex-start;
}
@media screen and (max-width: 940px) {
  .header-right {
    display: none;
  }
}

.important-phone {
  font-size: 16px;
}

.header-icons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 33.65px;
}

.wrapper {
  padding: 46px 150px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  max-width: 1140px;
  margin-bottom: 20px;
}
@media screen and (max-width: 940px) {
  .wrapper {
    z-index: 5;
    align-items: center;
    padding: 0 10px 10px;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
@media screen and (max-width: 940px) {
  .hero {
    flex-direction: column;
    gap: 45px;
    padding: 40px 34px 59px 15px;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../public/img/noise.png");
    z-index: 1;
  }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%);
    backdrop-filter: blur(7.5px);
  }
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}
@media screen and (max-width: 940px) {
  .hero-left {
    gap: 15px;
    z-index: 5;
  }
}

.earn-more {
  font-size: 48px;
  text-align: start;
  display: block;
}
@media screen and (max-width: 940px) {
  .earn-more {
    font-size: 36px;
  }
}

.with-welbex {
  display: block;
  text-align: start;
  font-weight: 900;
  font-size: 48px;
  color: #e4e5ea;
}
@media screen and (max-width: 940px) {
  .with-welbex {
    font-size: 36px;
  }
}

.developing-sales {
  font-size: 18px;
}

.welbex-colorfull {
  background-image: linear-gradient(to right, #fcb045 0%, #ff3f78 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welbex-colorfull-free {
  background-image: linear-gradient(to right, #fcb045 0%, #ff3f78 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 940px) {
  .welbex-colorfull-free {
    text-transform: lowercase;
  }
}

.welbex-colorfull-free:first-letter {
  text-transform: uppercase;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  font-weight: 700;
  font-size: 18px;
}
@media screen and (max-width: 940px) {
  .hero-right {
    align-items: start;
    text-align: start;
    z-index: 5;
  }
}

.welbex-none-colorfull {
  background: #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.columns {
  display: grid;
  flex-direction: row;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: none;
  grid-auto-flow: column;
  gap: 30px;
  margin-top: 40px;
}
@media screen and (max-width: 940px) {
  .columns {
    display: none;
    gap: 15px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.column-h1 {
  font-weight: 500;
}

.column-h2 {
  font-weight: 400;
  font-size: 16px;
}

.columns-mobile {
  display: none;
}
@media screen and (max-width: 940px) {
  .columns-mobile {
    display: grid;
    flex-direction: row;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    grid-auto-flow: column;
    gap: 15px;
    margin-top: 40px;
    vertical-align: center;
  }
}

.column-mobile {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  position: relative;
}

.custom-dash {
  width: 10px;
  height: 0;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  border-image-slice: 1;
  content: "";
  display: inline-block;
  position: relative;
  top: -25%;
}

.button {
  margin-top: 61px;
  width: 262px;
  height: 61px;
  background-color: #4077f3;
  color: #e5e6eb;
  padding: 21px 35px;
  cursor: pointer;
}
@media screen and (max-width: 940px) {
  .button {
    display: none;
  }
}

.ball-red {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 36%;
  top: 7.5%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}
@media screen and (max-width: 940px) {
  .ball-red {
    display: none;
  }
}

.red-light {
  position: absolute;
  background-color: rgba(131, 58, 180, 0.5);
  top: -154px;
  left: 602px;
  width: 259px;
  height: 259px;
  background-image: none;
  background-position: 0;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  border: 0 solid black;
  border-radius: 50%;
  filter: blur(196px);
  z-index: 1;
}
@media screen and (max-width: 940px) {
  .red-light {
    display: none;
  }
}

.ball-red-small {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 56.7%;
  top: 55%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}
@media screen and (max-width: 940px) {
  .ball-red-small {
    display: none;
  }
}

.ball-purple {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 60%;
  top: -1%;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 940px) {
  .ball-purple {
    display: none;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  margin: 124px 0 0;
  gap: 33px;
}
@media screen and (max-width: 940px) {
  .footer-wrapper {
    margin: 0;
    padding: 0 15px 60px;
    gap: 50px;
    width: 320px;
  }
}

.footer {
  margin: 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-template-columns: 1fr 2fr 1fr;
}
@media screen and (max-width: 940px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 41px 15px 0;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.footer-column-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}
@media screen and (max-width: 940px) {
  .footer-column-right {
    align-items: start;
    gap: 10px;
  }
}

.footer-h1 {
  font-size: 14px;
  font-weight: 700;
  color: #656566;
}
@media screen and (max-width: 940px) {
  .footer-h1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 940px) {
  .footer-h2 {
    font-size: 14px;
  }
}

.footer-h2-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media screen and (max-width: 940px) {
  .footer-h2-wrapper {
    align-items: start;
    gap: 10px;
  }
}

.footer-menu-wrapper {
  display: flex;
  gap: 52px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 13.55px;
}

.footer-columns {
  text-align: end;
  font-size: 12px;
  color: #e4e5ea;
  gap: 48px;
}
@media screen and (max-width: 940px) {
  .footer-columns {
    text-align: start;
    padding: 0 15px 60px;
  }
}

.underline {
  text-decoration: underline;
}

.red-l-m {
  display: none;
  position: absolute;
}
@media screen and (max-width: 940px) {
  .red-l-m {
    display: block;
    position: absolute;
    width: 211px;
    height: 210px;
    left: -55px;
    top: 241px;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
  }
}

.purple-l-m {
  display: none;
  position: absolute;
}
@media screen and (max-width: 940px) {
  .purple-l-m {
    display: block;
    position: absolute;
    width: 259px;
    height: 259px;
    left: 258px;
    top: 107px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
  }
}

.red-b-m {
  display: none;
  position: absolute;
}
@media screen and (max-width: 940px) {
  .red-b-m {
    display: block;
    position: absolute;
    width: 43px;
    height: 43px;
    left: 29px;
    top: 402px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 50%;
  }
}

.purple-b-m {
  display: none;
  position: absolute;
}
@media screen and (max-width: 940px) {
  .purple-b-m {
    display: block;
    width: 40px;
    height: 40px;
    left: 296px;
    top: 236px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
    border-radius: 50%;
  }
}

/*# sourceMappingURL=App.module.css.map */
